button {
    color: #ffffff;
    display: inline-block;
    border: 1px solid #EA1E63;
    background-color: #EA1E63;
    width: 130px;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    margin-top: 10px;
}
button:hover {
    cursor: pointer;
}
.subscribe-btn {
    display: inline-block;
    margin-left: -50px;
}
.message-btn {
    display: inline-block;
    position: relative;
    float: right;
    bottom: -100px;
}
    .btn {
        display: inline-block;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 18px;
        background-color: #EA1E63;
        color: #fff;
        text-decoration: none;
    }
        .btn.round {
            border-radius: 30px;
        }
        .btn.fa {
            padding: 15px;
            width: 50px;
            text-align: center;
            font-size: 28px;
        }