.clock {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #ffffff;

}
.countdown {
    display: inline-block;
    width: 100%;
    padding: 20px;
    margin-bottom: 0;
    float: left;
}
    .days {
        display: inline-block;
        font-size: 20px;
    }
    .hours {
        display: inline-block;
        font-size: 20px;
    }
    .minutes {
        display: inline-block;
        font-size: 20px;
    }
    .seconds{
        display: inline-block;
        font-size: 20px;
    }