.clock {
    display: inline-block;
    width: 100%;
    text-align: center;

}
.countdown {
    display: inline-block;
    width: 100%;
    padding: 20px;
}
    .days {
        display: inline;
    }
    .hours {
        display: inline;
    }
    .minutes {
        display: inline;
    }
    .seconds{
        display: inline;
    }