.form {
    display: inline-block;
    width: 100%;
}
.Subscribe-email {
    text-align: center;
    width: 100%;
    border-radius: 5px;
}
.subscribeEmail {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    width: 80%;
}