
.container {
    display: inline-block;
    width: 100%;
    height: 99vh;
    padding-top: 60px;
    padding-bottom: 60px;
}
    .hero {
        display: inline-block;
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        background-color: aqua;
    }
    .row {
        display: inline-block;
        width: 1000px;
        margin-left: calc((100% - 1000px) / 2);
    }
        .left {
            display: inline-block;
            width: 50%;
            float: left;
        }
        .right {
            display: inline-block;
            width: 40%;
            float: right;
        }
        .socials {
            display: inline-block;
            width: 100%;
        }
        .texts {
            display: inline-block;
            width: 600px;
            margin: calc((100% - 600px) / 2);
        }
    .bg-blue {
        background-color: #03A9F5;
    }
    .hero-bg {
        background-image: url(../img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        background-attachment: fixed;   
    }

    .mouse-icon {
        position: absolute;
        left: 50%;
        bottom: 40px;
        border: 2px solid #fff;
        border-radius: 16px;
        height: 40px;
        width: 24px;
        margin-left: -15px;
        display: block;
        z-index: 10;
    }
    
    .mouse-icon .wheel {
        position: relative;
        border-radius: 10px;
        background: #fff;
        width: 2px;
        height: 6px;
        top: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .fa {
        display: inline-block;
        font-size: 30px;
        color: white;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    
    .fa-twitter {
      background: #55ACEE;
      color: white;
    }
    
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
    
    .fa-instagram {
      background: #125688;
      color: white;
    }