.mouse-icon {
    display: inline-block;
    position: relative;
    border: 3px solid black;
    border-radius: 16px;
    height: 40px;
    width: 24px;
    text-align: center;
    margin-top: 20px;
}
.mouse-icon .wheel {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    background: black;
    width: 2px;
    height: 6px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}